<div class="community-updates">
  <p>
    Donate to any mosque in Singapore<br>
    at any time from your phone.<br>
    Join out online community for<br>
    regular update from 7th March 2020.
  </p>
  <span class="brand-icon">
    <a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
  </span>
  <span class="brand-icon">
    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
  </span>
</div>