<script src="https://kit.fontawesome.com/b4dd579957.js" crossorigin="anonymous"></script>
<div class="landing-page">
  <div class="top">
    <div class="logo">
      <%= image_tag("misc/Tabung_Logo_FullColour_RGB.png", size: 210, class: "center") %>
    </div>
    <div class="logo-subtext">
      <p>Cashless donations. Anywhere, anytime.</p>
    </div>
  </div>
  <div class="launching-soon-container">
    <div class="launching-soon">
      <p>Launching Soon</p>
    </div>
  </div>
  <div class="community-updates">
    <p>
      Donate to any mosque in Singapore<br>
      at any time from your phone.<br>
      Join our online community for regular updates.<br>
    </p>
    <span class="brand-icon">
    <a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
  </span>
    <span class="brand-icon">
    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
  </span>
  </div>
</div>