// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing-page {
  $landing-page-height: 100vh;
  $top-height: 35vh;

  width: 100%;
  background: image-url('misc/Tabung_Background_RGB.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $landing-page-height;

  .top {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(146, 96, 58), rgb(249, 184, 118), rgb(249, 184, 118), rgb(146, 96, 58));
    height: $top-height;
  }

  .launching-soon-container {
    $width: 230px;
    $height: 90px;
    $margin: 5px;

    display: flex;
    width: $width;
    height: $height;
    background: linear-gradient(rgb(249, 184, 118), rgb(146, 96, 58));
    margin: 80px auto 20px;

    .launching-soon {
      display: flex;
      align-items: center;
      margin: 5px;
      width: ($width - ($margin * 2));
      height: ($height - ($margin * 2));
      background: linear-gradient(rgb(19, 106, 94), rgb(40, 67, 55));

      p {
        width: inherit;
        text-align: center;
        font-size: 1.2em;
        font-family: sans-serif;
        color: rgb(249, 184, 118);
      }
    }
  }

  .community-updates {
    display: block;
    text-align: center;
    width: 75vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px 5px;
    z-index: 100;
    background: linear-gradient(rgb(40, 67, 55), rgb(19, 106, 94));
    font-size: 0.9em;
    font-family: sans-serif;
    color: rgb(249, 184, 118);

    .brand-icon {
      font-size: 3rem;
      color: rgb(249, 184, 118);
      margin: 10px 5px;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}
