// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing-page {
  $landing-page-height: 100vh;
  $top-height: 35vh;

  width: 100%;
  background-image: image-url('misc/Tabung_Background_RGB.png');
  background-size: cover;
  height: $landing-page-height;

  .top {
    background: linear-gradient(90deg, rgb(146, 96, 58), rgb(249, 184, 118), rgb(249, 184, 118), rgb(146, 96, 58));
    height: $top-height;
  }

  .launching-soon-container {
    $width: 230px;
    $height: 90px;
    $margin: 5px;

    display: flex;
    align-items: center;
    width: $width;
    height: $height;
    background: linear-gradient(rgb(249, 184, 118), rgb(146, 96, 58));
    margin: (($landing-page-height - $top-height) / 2.5) auto;

    .launching-soon {
      display: flex;
      align-items: center;
      margin: 5px;
      width: ($width - ($margin * 2));
      height: ($height - ($margin * 2));
      background: linear-gradient(rgb(19, 106, 94), rgb(40, 67, 55));

      p {
        width: inherit;
        text-align: center;
        font-size: 1.2em;
        background: -webkit-linear-gradient(rgb(249, 184, 118), rgb(146, 96, 58));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
